.auth_form {
  background: #fafafa;
  width: 100%;
  text-align: center;
}

.auth_form_center {
  display: inline-block;
  border: solid #000000 1px;
  width: 560px;
  height: 560px;
}
.content_container {
  margin: 50px;
}
.input_container {
  margin: 35px;
}
