body {
  background: #F6F6F6;
}
.content_container {
  width: 100%;
  text-align: center;
  margin: 0;
}

.notes_centerer {
  display: inline-block;
  width: 80%;
  height: 100%;
  text-align: left;
}

.note-content {
  background: #FAFAFA;
  margin: 5px;
  display: inline-block;
  border: solid #000 1px;
  border-radius: 5px;
  width: 200px;
  height: 100px;
}

.note-checker {
  width: 15px;
  height: 15px;
  border: #000 1px solid;
  margin: 2px;
  display: inline-block;
  float: right;
}
.note-undone {
  background: #FF0000;
}

.note-done {
  background: #00FF00;
}

.note-modal {
  background: #FAFAFA;
  width: 80%;
  height: 400px;
  position: absolute;  
  display: inline-block;
  border-radius: 5px;
  border: #000 solid 1px;
}

.info-label {
  background: #FFF;
}